h1 {
  background-color: goldenrod;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
/* {
  border: 2px solid red;
}*/
.container {
  background-color: white;
  font-family: Verdana, sans-serif;
}

#herobody {
  background-color: white;
}

#mainheader {
  padding: 1.5em;
}

.myfirstlist {
  list-style-type: none;
  padding: 2em;
  text-align: center;
}

a:link {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

ul a:link {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a {
  color: inherit;
}

.li01,
.li02,
.li03 {
  color: black;
  font-size: 25px;
  padding: 2em;
  margin: 1.5em;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0em;
  background-color: sandybrown;
  text-decoration: none;
  list-style-type: none;
}
