h1 {
  background-color: teal;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.container {
  background-color: lightblue;
  font-family: Verdana, sans-serif;
}

#herobody {
  background-color: cornsilk;
}

#mainheader {
  padding: 1.5em;
}

.myfirstlist {
  text-decoration: none;
  padding: 2em;
  text-align: center;
  text-decoration-style: none;
}

.li01,
.li02,
.li03 {
  color: black;
  font-size: 18px;
  padding: 1.5em;
  background-color: lightsalmon;
}
