body {
  background-color: lemonchiffon;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  color: sienna;
  font-size: 53px;
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}

/* {
  border: 2px solid red;
}*/

#mainheader {
  padding: 1em;
}

.myfirstlist {
  list-style-type: none;
  padding: 0em;
  text-align: center;
}

a:link {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

ul a:link {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a {
  color: inherit;
}

/*.li01,
.li02,
.li03 {
  width: 501px;
  color: black;
  font-size: 25px;
  padding: 2em;
  margin: 0em;
  margin-bottom: 0em;
  background-color: sandybrown;
  text-decoration: none;
  list-style-type: none;
}*/

.items {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  margin-left: 1em;
  padding: 0.5em;
}
